// Standaard reset voor overbodige wirtuimtes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #ff7f49;
  background: linear-gradient(180deg, #ff7f49 0%, #eb6276 100%);
  background-attachment: fixed;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

h1 > span {
  font-size: 50%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.text--center {
  text-align: center;
}

.container {
  max-width: 75rem;
  width: 100%;
  margin-inline: auto;
}

// Alles hierboven al gebruikt in codepen

.spel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.rel {
  position: relative;
}

.speelveld {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.speler {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speler__naam {
  margin-bottom: 0;
}

.speler__levens {
  display: flex;
  width: 100%;
  height: 30px;
  border: 2px solid black;
}

.speler__leven {
  height: 30px;
  width: 20%;
  background-color: #49ff7f;
}

.speler__keuze {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.speler__keuze__afbeelding {
  min-width: 100px;
  min-height: 100px;
}

.versus {
  font-size: 50px;
  font-weight: 900;
  margin-top: 100px;
}

.keuze-wrapper {
  margin-top: 50px;
}

.keuzes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
}

button:hover {
  outline: #fc4b00 solid 4px;
}

.btnReset {
  background-color: white;
  color: #fc4b00;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 8px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner-loser {
  text-align: center;
}

.winner-loser > p {
  font-size: 2rem;
  color: black;
  font-weight: 900;
}

/* Tutorial CSS */

.img__tutorial {
  height: 400px;
}

h2 {
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #49ff7f;
  text-decoration: underline;
}
